.button-input-container {
  display: flex;
  padding: 6rem 8rem 4rem 8rem;
}

.button-input-container button {
  font-size: 1.6rem;
  margin-right: 4rem;
}


.beer-container {
  display: flex;
  padding: 4rem 0;
  border-bottom: 2px solid black;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 15rem;
}

.individual-beer-image {
  height: 20rem;
}

.individual-beer-title {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.individual-beer-tagline {
  font-size: 1.6rem;
  line-height: 2rem;
}

.link-container {
  text-decoration: none;
  color: black;
}